/* CSS for Mahjongg Solitaire */

/* Basic */

*, ::before, ::after {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 100%;
}

button {
	font-size: 90%;
}

body {
	background-color: #0c0f0b;
	background-image: url('background.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

button {
	padding: 0.25rem 0.5rem;
	position: relative;
}

:not(:focus):not(:hover):not(details) > .visually-hidden {
	clip: rect(0 0 0 0); 
	clip-path: inset(100%); 
	height: 1px; 
	overflow: hidden; 
	position: absolute; 
	white-space: nowrap; 
	width: 1px; 
}
:hover > .visually-hidden,
:focus > .visually-hidden,
#timeLabel {
	display: block;
	border: 0.1vw solid #000;
	background-color: #fff;
	position: absolute;
	left: 0px;
	top: 100%;
	z-index: 999;
	white-space: nowrap;
	padding: 0.25rem 0.5rem;
	margin-left: -0.15vw;
	margin-top: 0.1vw;
}
#time {
	position: relative;
	user-select: none;
	cursor: pointer;
}

/* Board */

#game {
	position: relative;
	display: grid;
	justify-content: center;
	user-select: none;
	font-weight: bold;
}

/* Tiles */

.tile {
	position: relative;
	border: 0.1vw solid #aaa;
	border-radius: 8%;
	box-shadow: 0.1vw 0.1vw #777, 0.15vw 0.15vw #777, 0.2vw 0.2vw #777, 0.25vw 0.25vw #000;
	background-color: white;
	display: flex;
	justify-content: center;
}
.tile[data-t="character"] {
	color: #BD0000;
}
.tile[data-t="stick"] {
	color: #3E6800;
}
.tile[data-t="circle"] {
	color: #3A3AFF;
}
.tile[data-t="dragon"] {
	color: #7B5700;
}
.tile[data-t="wind"] {
	color: #A600A6;
}
.tile[data-t="flower"] {
	color: #006868;
}
.tile[data-t="season"] {
	color: #000000;
}
.tile.freeTop {
	border-top-color: #000;
	border-top-width: 0.15vw;
}
.tile.freeBottom {
	border-bottom-color: #000;
	border-bottom-width: 0.15vw;
}
.tile.freeLeft {
	border-left-color: #000;
	border-left-width: 0.15vw;
}
.tile.freeRight {
	border-right-color: #000;
	border-right-width: 0.15vw;
}
.tile.z1 {
	background-color: #bbb;
}
.tile.z2 {
	background-color: #ccc;
}
.tile.z3 {
	background-color: #ddd;
}
.tile.z4 {
	background-color: #eee;
}
.tile.z5 {
	background-color: #fff;
}
.tile.z1.notBlocked {
	background-color: #7f7;
}
.tile.z2.notBlocked {
	background-color: #8f8;
}
.tile.z3.notBlocked {
	background-color: #9f9;
}
.tile.z4.notBlocked {
	background-color: #afa;
}
.tile.z5.notBlocked {
	background-color: #bfb;
}
.tile:hover {
	border: 0.15vw solid #f0f;
	box-shadow: 0.1vw 0.1vw #f0f, 0.15vw 0.15vw #f0f, 0.2vw 0.2vw #f0f, 0.25vw 0.25vw #f0f;
}
.tile[data-s="selected"] {
	border: 0.15vw solid #f00;
	box-shadow: 0.1vw 0.1vw #f00, 0.15vw 0.15vw #f00, 0.2vw 0.2vw #f00, 0.25vw 0.25vw #f00;
}

/* Top Panel */

.panel {
	background-color: rgba(255,255,255,0.75);
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 1rem;
	padding: 0.25rem 0.5rem;
}
.panel a {
	text-decoration: none;
}
#time {
	white-space: nowrap;
}

#time summary::marker {
	content: "⏳";
	margin-right: 0.25rem;
}
#time[open] summary::marker {
	content: "⌛";
}

/* Current Tile (Bottom-Right) Panel */

#current {
	position: absolute;
	bottom: 0;
	right: 0;
	border: 0.1vw solid black;
	border-radius: 10%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.25rem 0.5rem;
}
@media (pointer: coarse) {
	#current {
		display: none;
	}
}
#currentimg {
	font-size: 300%;
}
.cardname {
	display: none;
}
.cardname.shown {
	display: inline;
}

/* Dialogs */

.gamedlg::backdrop {
	background-color: rgba(0,0,0,0.75);
}
.gamedlg {
	margin: auto;
	background-color: #fff;
	border: 0.15vw solid #024;
	border-radius: 1rem;
	max-width: 50%;
}
.dlgmessage {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*row-gap: 0.5rem;*/
}
.dlgmessage > div {
	margin-left: 2rem;
	margin-right: 2rem;
}
.dlgsmiley {
	font-size: 300%;
	width: 100%;
	background: linear-gradient(to top, #049 0%, #06b 100%);
	text-align: center;
	padding-top: 0.5rem;
	color: #fff;
}
.dlgheading {
	font-size: 125%;
	font-weight: bold;
	width: 100%;
	background-color: #049;
	text-align: center;
	padding-bottom: 0.5rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid #000;
	color: #fff;
}
.dlgbuttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 1rem;
	border-top: 1px solid #000;
	margin-top: 2rem;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	background: linear-gradient(to bottom, #049 0%, #06b 100%);
}

/* Small screens */

@media (max-width: 768px) or (max-height: 400px) {
	button {
		padding: 0.125rem 0.25rem;
	}
	button:hover .visually-hidden {
		padding: 0.125rem 0.25rem;
	}
	.gamedlg {
		max-width: 90%;
		padding: 0.5rem 1rem;
	}
	.dlgbuttons {
		margin-top: 0.5rem;
	}
	#current {
		padding: 0.125rem 0.25rem;
		border-radius: 5%;
	}
	#currentimg {
		font-size: 200%;
	}
	.dlgheading {
		font-size: 100%;
		font-weight: bold;
	}
	.dlgsmiley {
		font-size: 200%;
	}
	.panel {
		padding: 0.125rem 0.25rem;
	}
}
